*.o
.deps/
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/doc/README
/doc/README.html
/install-sh
/missing
/src/padevchooser
/stamp-h1
Makefile
Makefile.in
